.active {
    background-color: black;
    color: white;
}

a {
    color: black
  }
  a:visited {
    color: gray;
  }
  a:active {
    background-color: yellow;
  }
  a:hover {
    color:red;
  }

  ul {
      list-style-type: none;
  }